[Unit]
Description=Network route for Wireguard
After=${after}

[Service]
Type=oneshot
User=root
ExecStart=/bin/sh -c "ip route add ${network_cidr} dev ${interface} src ${ip} 2> /dev/null || true"

[Install]
WantedBy=multi-user.target